<mat-toolbar class="navbar">
   <span>
    <a class="kungfuflix">MY KUNG FU FLIX: NOW IN TECHNICOLOR</a>
   </span>
    <span class="nav-logo">
      <a routerLink="/movies">MOVIES</a>
    </span>
  
    <span class="nav-profile">
      <a routerLink="/profile">
        PROFILE
      </a>
    </span>
  
    <span class="nav-logout">
      <a mat-button (click)="logout()" class="logout-button">
        <mat-icon>logout</mat-icon>
        <span class="nav-logout__text">LOGOUT</span>
      </a>
    </span>
  </mat-toolbar>
