#signindivcontainer{
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.25);
  text-align: center;
  z-index: 20;
}
mat-card.loginform{
  margin: 50px auto;
  max-width: 300px;
}
mat-card{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #2a9d8f, #e76f51);
}
.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
mat-card-title {
  font-size: 2em;
  border-left: 5px solid #2a9d8f;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: #2a9d8f;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, #e76f51, #2a9d8f);
}

button{
    box-shadow: 1px 1px 1px 1px #264653;
    font-family: inherit;
    font-size: large;
    font-weight:bold;
    float:left;
  }
   
  button:hover, button:active{
    background-color: #e76f51;
  }